

@model HocAspMVC4_Test.Models.Product.ProductModel

@using HocAspMVC4_Test.Menu
@inject AdminSidebarService _AdminSidebarService


@{
    ViewData["Title"] = "Xóa sản phẩm";
    Layout = "/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>@ViewData["Title"]</h1>

<h6>Xóa sản phẩm này?</h6>
<div>
    <h4>@Model.Title</h4>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Danh sách sản phẩm</a>
    </form>
</div>

@{
    _AdminSidebarService.SetActive("ProductManage", "Index", "Product"); //controller - action - area
}

@section Sidebar{

    @Html.Raw(_AdminSidebarService.renderHtml())
}

