@{
    ViewData["Title"] = "Hạn chế truy cập";
}

<div style="margin-top: 100px">
    <p class="text-danger">@ViewData["Title"]</p>
    <p class="text-danger">Bạn không được phép truy cập chức năng này.</p>
</div>
